

:root {
    --header-height:3rem;
    
    /* Custom Colour */
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 58%);
    --first-color-second: hsl(var(--hue-color), 71%, 47%);
    --first-color-alt: hsl(var(--hue-color), 55%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 90%, 82%);

    --title-color: hsl(var(--hue-color), 10%, 15%);
    --text-color: hsl(var(--hue-color), 10%, 40%);
    --mainText: hsl(var(--hue-color), 10%, 20%);
    --text-color-light: hsl(var(--hue-color), 10%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 88%);
    --body-color: hsl(var(--hue-color), 66%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 70%);
    --gradient-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,1) 35%, rgba(0,212,255,1) 100%);

    /* Font & Typography */
    --gullible-font: 'Maven Pro', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --bigfat-font: 'Roboto Mono', monospace;

    /* 1rem = 16px, .5rem = 8px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 14px;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margin Size - BOTTOM */
    /* .25rem = 4px, .5rem= 8px, 1rem= 16px, .75rem= 12px */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*  Z-index  */
    --z-tooltip:10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*  Background  */
    --background-body-color: hsl(var(--hue-color), 66%, 99%);
    --border-color: none;
    --border-style: none;
    --footer-color: var(--first-color);

}

/* FONT SIZE FOR LARGER DEVICES */
@media screen  and (min-width: 968px){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
    
}

/* =========== VARIABLE COLOR DARK THEME ============ */
body.dark-theme{
    /* HSL Color Mode */
    --first-color: hsl(var(--hue-color), 69%, 58%); /* Not changed */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 55%, 50%); /* Not changed */
    --first-color-lighter: hsl(var(--hue-color), 90%, 82%); /* Not changed */

    --title-color: hsl(var(--hue-color), 10%, 95%);
    --text-color: hsl(var(--hue-color), 10%, 75%);
    --mainText: hsl(var(--hue-color), 10%, 75%);
    --text-color-light: hsl(var(--hue-color), 10%, 65%); /* Not changed */
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 30%, 14%);
    --container-color: hsl(var(--hue-color), 30%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 10%, 50%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 32%);

    --background-body-color: rgba(255, 255, 255, 0.068);
    --border-color: rgba(255, 255, 255, 0.425);
    --border-style: solid;
    --footer-color: hsl(250, 53%, 18%);

}